absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
asgiref
async-timeout
attrs
certifi
cffi
charset-normalizer
click
colorama
contourpy
cryptography
cycler
datasets
dill
Django
django-widget-tweaks
evaluate
exceptiongroup
fastapi
filelock
fonttools
frozenlist
fsspec
h11
hf-xet
httpcore
httpx
huggingface-hub
idna
Jinja2
joblib
kiwisolver
Markdown
MarkupSafe
matplotlib
mpmath
multidict
multiprocess
networkx
nltk
numpy
packaging
pandas
pdfminer.six
pdfplumber
pillow
propcache
psutil
pyarrow
pycparser
pydantic
pydantic_core
pyparsing
pypdf
pypdfium2
pytesseract
python-dateutil
python-multipart
pytz
PyYAML
regex
reportlab
requests
rouge_score
safetensors
shellingham
six
sqlparse
starlette
sympy
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typer-slim
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
xxhash
yarl